body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

/* obsidian-calendar-plugin */
/* https://github.com/liamcain/obsidian-calendar-plugin */
:root {
  --accent-color: #bada55;
  --accent-h: 74;
  --accent-s: 64%;
  --accent-l: 59%;
}
body {
  --nav-item-color-active: var(--accent-color);
  --icon-color-hover: var(--accent-color);
}
#calendar-container {
  --color-background-heading: transparent;
  --color-background-day: transparent;
  --color-background-weeknum: transparent;
  --color-background-weekend: transparent;

  --color-dot: var(--accent-color);
  --color-arrow: var(--text-muted);
  --color-button: var(--text-muted);

  --color-text-title: var(--text-normal);
  --color-text-heading: var(--text-muted);
  --color-text-day: var(--text-normal);
  --color-text-today: var(--interactive-accent);
  --color-text-weeknum: var(--text-muted);
}

/*.theme-dark {*/
/*  --background-primary: white;*/
/*  --background-secondary: lime;*/
/*}*/

/*.theme-light {*/
/*  --background-primary: #ECE4FF;*/
/*  --background-secondary: #D9C9FF;*/
/*}*/

